@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

:root,
html,
head,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato';

  //  --unnamed-color-e3957391: #E3957391;
  // --unnamed-color-713c25: #713C25;
  // --unnamed-color-be6c42: #BE6C42;
  // --unnamed-color-f7e7ce: #F7E7CE;
  // --unnamed-color-000000: #000000;

  // /* Font/text values */
  // --unnamed-font-family-lato: Lato;
  // --unnamed-font-family-gilroy-☞: Gilroy ☞;
  // --unnamed-font-style-normal: normal;
  // --unnamed-font-weight-600: 600px;
  // --unnamed-font-weight-normal: normal;
  // --unnamed-font-size-24: 24px;
  // --unnamed-font-size-151: 151px;
  // --unnamed-character-spacing-0: 0px;
  // --unnamed-line-spacing-29: 29px;
  // --unnamed-line-spacing-146: 146px;
}

// .unnamed-character-style-1 {
// font-family: var(--unnamed-font-family-gilroy-☞);
// font-style: var(--unnamed-font-style-normal);
// font-weight: var(--unnamed-font-weight-600);
// font-size: var(--unnamed-font-size-24);
// line-height: var(--unnamed-line-spacing-29);
// letter-spacing: var(--unnamed-character-spacing-0);
// color: var(--unnamed-color-000000);
// }
// .unnamed-character-style-2 {
// font-family: var(--unnamed-font-family-lato);
// font-style: var(--unnamed-font-style-normal);
// font-weight: var(--unnamed-font-weight-normal);
// font-size: var(--unnamed-font-size-151);
// line-height: var(--unnamed-line-spacing-146);
// letter-spacing: var(--unnamed-character-spacing-0);
// color: var(--unnamed-color-713c25);
// }
