.main {
  width: 100%;
  padding-bottom: 10px;
  .header {
    background: #f7e7ce 0% 0% no-repeat padding-box;
    // border: 1px solid #707070;
    // padding: 30px 50px 0;
    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 50%;
        aspect-ratio: 1;
        object-fit: fill;
        // border: 1px solid black;
        border-style: none;
      }
    }
  }

  .couture {
    padding: 30px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 70%;
        object-fit: fill;
        aspect-ratio: 2.2;
      }
    }
    .text {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font: normal normal normal 1.5rem "Lato";
      letter-spacing: 0px;
      color: #713c25;
      text-align: left;
      width: 65%;
      p {
        width: 70%;
      }
    }
    .collection {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        img {
          width: 70%;
          object-fit: fill;
          aspect-ratio: 0.7;
        }
      }
    }
    .collection-carousel {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .container {
        display: flex;
        width: 80%;
        padding-block: 30px;
        overflow-x: scroll;
        overscroll-behavior-inline: contain ;
        scroll-snap-type: inline mandatory;
        .left, .right{
          cursor: pointer;
        }
        .banner {
          scroll-snap-align: center;
          padding: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 200px;
          height: 300px;
          gap: 20px;
          img {
            width: 200px;
            height: 300px;
            aspect-ratio: 0.7;
          }
        }
      }
    }
    .collection-action {
      margin: 30px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .browse-collection-button {
        padding: 10px;
        border: 2px solid #653b29;
        background-color: inherit;
        min-width: max-content;
        max-width: 200px;
        text-align: left;
        font: normal normal 300 1rem Lato;
        color: #853818;
        border-radius: 2px;
        cursor: pointer;
      }
      .browse-collection-button:hover {
        color: #be6c42;
        border-color: #be6c42;
      }

      .browse-collection-button:active {
        color: #853818;
        border-color: #853818;
      }
    }
  }
  .shutterstock {
    background: transparent url("../../public/images/realwomendekstop.png") 0%
      0% no-repeat padding-box;
    background-size: cover;
    width: 100%;
    padding-block: 15%;
    display: flex;
    .content {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px;
      .craftsmanship {
        align-self: flex-start;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        .craftsmanship-box {
          width: 20px;
          height: 20px;
          background: #be6c42 0% 0% no-repeat padding-box;
        }
        .craftsmanship-text {
          font: normal normal medium 2rem Gilroy;
          letter-spacing: 5.76px;
          color: #713c25;
          text-transform: uppercase;
        }
      }
      .shutterstock-text {
        padding-block: 30px;
        padding-left: 10px;
        width: 50%;
        text-align: left;
        font: normal normal normal 6rem Lato;
        letter-spacing: 0px;
        color: #713c25;
      }
      .shutterstock-action-container {
        width: 50%;
        padding: 10px;
        display: flex;
        justify-content: center;
        gap: 20px;
        .shutterstock-action-button-container {
          width: 40%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;
          .shutterstock-action-button-text {
            width: 100%;
            text-align: right;
            font: normal normal normal 0.6rem Lato;
            letter-spacing: 0px;
            color: #713c25;
          }
          .shutterstock-action {
            margin: 30px 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .shutterstock-action-button {
              padding: 10px;
              border: 2px solid #653b29;
              background-color: inherit;
              font-size: 0.9rem;
              max-width: 200px;
              text-align: left;
              font: normal bold 300 0.75rem Lato;
              color: #853818;
              border-radius: 2px;
              cursor: pointer;
            }
            .shutterstock-action-button:hover {
              color: white;
              border-color: white;
            }

            .shutterstock-action-button:active {
              color: #853818;
              border-color: #853818;
            }
          }
        }

        .shutterstock-extra-text {
          width: 50%;
          text-align: left;
          font: normal normal normal 1.7rem Lato;
          letter-spacing: 0px;
          color: #713c25;
          opacity: 1;
        }
      }
    }
  }
  .quote {
    background: transparent url("../../public/images/Quote.png") 0% 0% no-repeat
      padding-box;
    background-size: cover;
    padding-block-start: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .quote-text {
      width: 70%;
      text-align: center;
      font: normal normal normal 4rem Lato;
      letter-spacing: 0px;
      color: #f7e7ce;
    }
    .author {
      text-align: left;
      font: normal normal normal 17px/27px Lato;
      letter-spacing: 0px;
      color: #f7e7ce;
      opacity: 1;
    }
    .quote-symbol {
      text-align: left;
      font: normal normal normal 5rem Lato;
      letter-spacing: 0px;
      color: #f7e7ce;
      opacity: 1;
    }
  }
  .lookbook {
    background: transparent url("../../public/images/lookbook.png") 0% 0%
      no-repeat padding-box;
    background-size: cover;
    .lookbook-content {
      padding-block: 27% 7%;
      padding-inline: 10%;
      .lookbook-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
        .lookbook-text {
          display: flex;
          flex-direction: column;
          .look,
          .book {
            text-align: left;
            font: normal normal normal 10rem Lato;
            letter-spacing: 0px;
          }
          .look {
            color: #be6c42;
          }
          .book {
            color: #853818;
          }
          .for {
            color: #f7e7ce;
            text-align: left;
            font: normal normal normal 10rem san-serif;
            letter-spacing: 0px;
          }
          .you {
            text-align: right;
            font: normal normal normal 80px/94px Lato;
            letter-spacing: 0px;
            color: #713c25;
          }
        }
        .lookbook-logo-container {
          width: 20%;
          img {
            aspect-ratio: 1;
          }
          .lookbook-logo-text {
            text-align: left;
            font: normal normal normal 1rem Lato;
            letter-spacing: 0px;
            color: #713c25;
          }
        }
      }
    }
    .lookbook-action {
      padding: 30px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .lookbook-button {
        padding: 10px;
        border: 2px solid #653b29;
        background-color: inherit;
        font-size: 0.5rem;
        max-width: 200px;
        text-align: left;
        font: normal normal bold 1rem Lato;
        color: #853818;
        border-radius: 2px;
      }
      .lookbook-button:hover {
        color: white;
        border-color: white;
      }

      .lookbook-button:active {
        color: #853818;
        border-color: #853818;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .main {
    .shutterstock {
      .content {
        .shutterstock-text {
          font-size: 5rem;
        }
        .shutterstock-action-container {
          .shutterstock-extra-text {
            font-size: 1.5rem;
          }
        }
      }
    }
    .lookbook {
      .lookbook-content {
        .lookbook-container {
          .lookbook-text {
            .look,
            .book {
              font-size: 9rem;
            }
            .for {
              font-size: 9rem;
            }
            .you {
              font-size: 5rem;
            }
          }
          .lookbook-logo-container {
            width: 30%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1100px) {
  .main {
    .couture {
      .text {
        font-size: 1.5rem;
        width: 70%;
        p {
          width: 70%;
        }
      }
      .collection-action {
        .browse-collection-button {
          font-size: 1rem;
        }
      }
    }
    .quote {
      .quote-text {
        font-size: 3rem;
      }
    }
    .shutterstock {
      .content {
        .shutterstock-text {
          font-size: 4rem;
          width: 70%;
        }
        .shutterstock-action-container {
          width: 70%;
          .shutterstock-extra-text {
            font-size: 1.5rem;
          }
        }
      }
    }
    .lookbook {
      .lookbook-content {
        .lookbook-container {
          .lookbook-text {
            .look,
            .book {
              font-size: 6rem;
            }
            .for {
              font-size: 6rem;
            }
            .you {
              font-size: 3rem;
            }
          }
          .lookbook-logo-container {
            width: 30%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .main {
    .couture {
      padding: 30px 10px;
      .banner {
        width: 100%;
        img {
          width: 80%;
        }
      }
      .text {
        width: 80%;
        font-size: 1rem;
      }
      .collection {
        width: 100%;
      }
    }
    .quote {
      .quote-text {
        font-size: 2rem;
      }
    }
    .shutterstock {
      .content {
        .shutterstock-text {
          font-size: 3rem;
        }
      }
    }
    .lookbook {
      .lookbook-content {
        .lookbook-container {
          .lookbook-text {
            .look,
            .book {
              font-size: 4.5rem;
            }
            .for {
              font-size: 4.5rem;
            }
            .you {
              font-size: 1.9rem;
            }
          }
          .lookbook-logo-container {
            width: 40%;
            img {
              width: 70%;
            }
            .lookbook-logo-text {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .main {
    .couture {
      padding: 30px 5px;
      .banner {
        width: 100%;
        img {
          width: 90%;
        }
      }
      .text {
        width: 90%;
        font-size: 0.8rem;
      }
      .collection-action {
        .browse-collection-button {
          font-size: 1rem;
        }
      }
    }
    .shutterstock {
      .content {
        .shutterstock-text {
          font-size: 2.5rem;
          width: 90%;
        }
        .shutterstock-action-container {
          width: 90%;
          .shutterstock-extra-text {
            font-size: 1.2rem;
          }
        }
      }
    }
     .quote {
      gap: 10px;
      .quote-text {
        font-size: 1rem;
      }
      .author{
        font-size: 0.7rem;
      }
      .quote-symbol{
        font-size: 3rem;
      }
    }
    .lookbook {
      .lookbook-content {
        .lookbook-container {
          .lookbook-text {
            .look,
            .book {
              font-size: 3rem;
            }
            .for {
              font-size: 3rem;
            }
            .you {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 400px) {
  .main {
    .shutterstock {
      .content {
        .shutterstock-text {
          font-size: 2rem;
        }
        .shutterstock-action-container {
          .shutterstock-action-button-container {
            gap: 10px;
            .shutterstock-action {
              .shutterstock-action-button {
                font-size: 0.6rem;
              }
            }
          }
        }
      }
    }
    .lookbook {
      .lookbook-content {
        .lookbook-container {
          .lookbook-text {
            .look,
            .book {
              font-size: 2rem;
            }
            .for {
              font-size: 2rem;
            }
            .you {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
