.mobilebar,
.navbar-mobile {
  display: none;
}

.navbar {
  background: #f7e7ce 0% 0% no-repeat padding-box;
  // border: 1px solid #707070;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    img {
      width: 120px;
      height: 30px;
    }
  }

  .navbar-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7rem;
    div {
      a {
        font: normal normal 300 1.2rem "Lato";
        letter-spacing: 0px;
        color: #853818;
        opacity: 1;
        text-decoration: none;
      }
    }
    .discover-more-button {
      padding: 10px;
      border: 2px solid #653b29;
      background-color: inherit;
      font-size: 0.75rem;
      min-width: max-content;
      max-width: 200px;
      text-align: left;
      font: normal normal 300 0.75rem Lato;
      color: #853818;
      border-radius: 2px;
      cursor: pointer;
    }
    .discover-more-button:hover{
      color: #be6c42;
      border-color: #be6c42;
    }
    
    .discover-more-button:active{
      color: #853818;
      border-color: #853818;
    }
  }
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .navbar {
    .navbar-actions {
      gap: 3rem;
    }
  }
}

@media screen and (max-width: 650px) {
  .navbar {
    div {
      img {
        width: 90px;
        height: 20px;
      }
    }
    padding-inline: 30px;
    .navbar-actions {
      gap: 3rem;
      div {
        font-size: 0.9rem;
      }
      .discover-more-button {
        padding: 7px;
        font-size: 0.6rem;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    display: none;
  }
  .mobilebar {
    background: #f7e7ce 0% 0% no-repeat padding-box;
    // border: 1px solid #707070;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
      img {
        width: 120px;
        height: 30px;
      }
    }
    .hamburger {
      justify-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .navbar-mobile {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    .backdrop {
      color: white;
      background-color: gray;
      opacity: 0.9;
      width: 100%;
      height: 30%;
      padding: 70px 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap:20px;
      align-items: center;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      .close{
        height:30px;
        width: 30px;
      }
      .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        div{
          a{
            text-decoration: none;
            color: #fff;
          }
        }
        .discover-more-button {
          padding: 10px;
          border: 2px solid white;
          background-color: inherit;
          font-size: 0.75rem;
          min-width: max-content;
          max-width: 200px;
          text-align: left;
          font: normal normal 300 0.75rem Lato;
          color: white;
          border-radius: 2px;
        }
      }
    }
  }
}
